.nav-links {
  @apply mx-3 my-4 px-4 pt-2 pb-3 text-lg rounded-md font-semibold text-black 
    hover:shadow-lg transition-colors duration-200;
}
.nav-links:hover,
.sub-link-menu:hover,
.active {
  background-color: #e96036;
  color: white !important;
}

.signin-btn:hover, .signup-btn {
  color:#fff!important;
  background-color: #e96036!important;

  transition: all .2s;
}
.signin-btn{
  color:#e96036!important;
  border: 1px solid #e96036 !important;
  background-color: #fff !important;
  transition: all .2s;
}
.sub-link-menu {
  @apply py-2 px-4 block text-lg text-black transition duration-200;
}

.dropdown-nav {
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
}

.nav-links > ul {
  transform: translatex(100%) scale(0);
}
.nav-links:hover > ul {
  transform: translatex(101%) scale(1);
}
.nav-links > svg {
  margin-left: 5px;
  width: 16px;
}

.nav-links .group:hover .nav-links .group-hover\:scale-100 {
  transform: scale(1);
}
.nav-links .scale-0 {
  transform: scale(0);
}
.nav-links .min-w-32 {
  min-width: 8rem;
}

.mobile-menu {
  @apply grid grid-rows-4 text-center items-center bg-green-500 transition duration-300 ease-in-out text-white;
  transform-origin: top center;
  animation: rotateX 300ms ease-in-out forwards;
}
.mobile-menu-hide {
  transform-origin: top center;
  animation: rotateX 300ms ease-in-out forwards;
}

@keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
